<!DOCTYPE html>
<html>
  <head>
    <link href="/stylesheets/playlister.css" rel="stylesheet">
  </head>
 <body>
<h2>Clink the names to visit the artists!</h2>
	<% @genres.each do |genre|%>
	<a href="/genres/<%= genre.slug %>"><%= genre.name %></a>
	<br></br>
	<%end%>
</body>
</html>