<!DOCTYPE html>

<body>
<br></br>
<br></br>
<br></br>
<form method="post" action="/songs/:slug">
  <p>Song name: <input type="text" name="Name"></p>
  <p>Artist name: <input type="text" name="Artist Name"></p>


  <button type="submit" value="submit">Save</button>
</form>



</body>
