
<form action="/songs" method="post">

  <label>Name:</label>
  <input type="text" name="song[name]">
  <br>
  <label>Select Genres:</label>
  <br>
  <% Genre.all.each do |genre| %>
    <input type="checkbox" name="genres[]" value="<%=genre.id%>" id="<%=genre.id%>"><%=genre.name%></input>
  <% end %>
  <br>
  <label>Artist Name:</label>
  <input type="text" name="artist_name">
  <br>
  <input type="submit"value="Create">

</form>
