<h2>Add New Song</h2>
<form method = "post" action = '/songs'>
  <p>Song Name: <input type = "text" name = "name" id="Name"></p>
  <p>Artist: <input type = "text" name = "artist[name]" id="Artist Name"></p>
  <p>Genres:
    <%Genre.all.each do |genre|%>
    <input type="checkbox" name = "song_genre_ids[]" id="<%=genre.name%>" value="<%=genre.id%>"> <%=genre.name%>
  <%end%></p>
  <p>Add new genre: <input type = "text" name = "genre[name]" id = "genre_name"></p>
  <p><input type="submit" value="Create"></p>
</form>
