<h3>Create a new song:</h3>
<form method="post" action="/songs">
  <p>Song Name: <input type="text" name="song_name"></p>
  <p>Artist Name: <input type="text" name="artist_name"></p>
  <input type"submt" value="Create">
</form>
