<h1>Welcome to Playlister</h1>

<ul>
  <li><h3><a href="/artists">Click to see artists</a></h3></li>
  <li><h3><a href="/genres">Click to see genres</a></h3></li>
  <li><h3><a href="/songs">Click to see songs</a></h3></li>
</ul>
